<div class="wrap"> 
	<form method="post" action="">
		<h3>Factory Women Posts</h3>
		<p>¿How many posts do you want to create?</p>
		<input required type="number" min="1" name="numberposts">
		<input required type="text" placeholder="Write the title of your posts" name="posttitle">
		<span class="hint">This text will add the sufix number, for example if your title is "My simple post", it will be create the posts: "My simple post 1", "My simple post 2", etc</span>
		<input type="submit" value="Factory Women!">
	</form>
</div>